.home{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(background/home.png);
  background-size: cover;
  padding: 30px;
}

.welcome{
  font-size: 1.2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Anton', sans-serif;
  text-align: center;
  max-width: 300px;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.2);
  border: 3px solid #FFFFFF;
  padding: 10px;
}

span{
  font-family: 'Comfortaa', sans-serif;
  margin-top: 40px;
}


@media (min-width: 1025px) {
  .welcome{
      font-size: 1.5em;
  }

  .welcome:hover{
    background: #FFFFFF;
    color: #000;
  }

  span{
    display: none;
  }
}
